{% extends 'base.html' %} {% load static %}{% block headerContent %}
<link rel="stylesheet" href="{% static 'blogApp/assets/summernote/summernote-lite.min.css' %}">
<script src="{% static 'blogApp/assets/summernote/summernote-lite.min.js' %}"></script>
<style>
    #mapsContainer {
        display: flex;           /* Use Flexbox */
        flex-wrap: wrap;        /* Allow items to wrap to the next line */
        gap: 15px;              /* Space between items */
    }
    .map-item {
        flex: 0 1 auto;         /* Allow items to have a width based on their content */
        max-width: 150px;       /* Set a max-width for the items */
        text-align: center;      /* Center the text */
        position: relative;      /* Position relative for close button placement */
    }
</style>
{% endblock headerContent %} {% block pageContent %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row justify-content-center">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 card card-default rounded-0 shadow">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title fw-bold">Create New Page To - {{folder.name}}</h4>
            </div>
            <div class="card-body">
                <form action="" id="post-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="page_name" class="control-label">Page Name</label>
                        <input type="text" class="form-control rounded-0" id="page_name" name="page_name" value="" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="page_title" class="control-label">Page Title</label>
                        <input type="text" class="form-control rounded-0" id="page_title" name="page_title" value="" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="side_panel" class="control-label">Side Panel Json</label>
                        <textarea class="form-control rounded-0" name="side_panel" id="side_panel" rows="10" required></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="map_image" class="control-label">Map Image</label>
                        <textarea class="form-control rounded-0" name="map_image" id="map_image" rows="10" required></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="body_content" class="control-label">Body Content</label>
                        <textarea class="form-control rounded-0" name="body_content" id="body_content" rows="10" required></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="static_table" class="control-label">Static Table</label>
                        <textarea class="form-control rounded-0" name="static_table" id="static_table" rows="10" required></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="dynamic_table" class="control-label">Dynamic Table</label>
                        <textarea class="form-control rounded-0" name="dynamic_table" id="dynamic_table" rows="10" required></textarea>
                    </div>
                    <br>

                    <!-- Header Section -->
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold">Other Maps</h4>
                        <button class="btn btn-sm btn-primary bg-gradient me-2 rounded-0" type="button" id="addMapBtn" data-bs-toggle="modal" data-bs-target="#mapModal">
                            <i class="fa-solid fa-map me-1"></i> Add Map
                        </button>
                    </div>
                    
                    <!-- Modal Structure -->
                    <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mapModalLabel">Add New Map</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="mapForm">
                                        <div class="mb-3">
                                            <label for="map_name" class="form-label">Map Name</label>
                                            <input type="text" class="form-control" id="map_name" name="map_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="map_thumbnail" class="form-label">Thumbnail</label>
                                            <input type="file" class="form-control" id="map_thumbnail" name="map_thumbnail">
                                        </div>
                                        <div class="mb-3">
                                            <label for="map_alt" class="form-label">Alt Text</label>
                                            <input type="text" class="form-control" id="map_alt" name="map_alt">
                                        </div>
                                        <button type="button" class="btn btn-primary" id="addMap" data-bs-dismiss="modal">Add Map</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Empty Container for Added Maps -->
                    <div id="mapsContainer" class="d-flex flex-wrap mt-3"></div>
                    <!-- Hidden Inputs for Dynamically Added Maps -->
                    <div id="hiddenInputs"></div>

                    <br><hr><br>
                    <h4 class="fw-bold">SEO Attributes</h4>
                    <hr><br>

                    <div class="form-group mb-3">
                        <label for="meta_name_description" class="control-label">meta_name_description</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_description" name="meta_name_description" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_keywords" class="control-label">meta_name_keywords</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_keywords" name="meta_name_keywords" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_property_og_title" class="control-label">meta_property_og_title</label>
                        <input type="text" class="form-control rounded-0" id="meta_property_og_title" name="meta_property_og_title" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_property_og_url" class="control-label">meta_property_og_url</label>
                        <input type="text" class="form-control rounded-0" id="meta_property_og_url" name="meta_property_og_url" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_property_og_description" class="control-label">meta_property_og_description</label>
                        <input type="text" class="form-control rounded-0" id="meta_property_og_description" name="meta_property_og_description" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_property_og_image" class="control-label">meta_property_og_image</label>
                        <input type="text" class="form-control rounded-0" id="meta_property_og_image" name="meta_property_og_image" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_twitter_card" class="control-label">meta_name_twitter_card</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_twitter_card" name="meta_name_twitter_card" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_twitter_site" class="control-label">meta_name_twitter_site</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_twitter_site" name="meta_name_twitter_site" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_twitter_title" class="control-label">meta_name_twitter_title</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_twitter_title" name="meta_name_twitter_title" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_twitter_description" class="control-label">meta_name_twitter_description</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_twitter_description" name="meta_name_twitter_description" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_twitter_image_src" class="control-label">meta_name_twitter_image_src</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_twitter_image_src" name="meta_name_twitter_image_src" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="meta_name_viewport" class="control-label">meta_name_viewport</label>
                        <input type="text" class="form-control rounded-0" id="meta_name_viewport" name="meta_name_viewport" value="" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="canonical_url" class="control-label">canonical_url</label>
                        <input type="text" class="form-control rounded-0" id="canonical_url" name="canonical_url" value="" >
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex w-100 justify-content-end">
                    <button class="btn btn-sm btn-primary bg-gradient me-2 rounded-0" form="post-form"><i class="fa fa-save"></i> Save</button>
                    <a class="btn btn-sm btn-light bg-gradient border rounded-0" href="{% url 'folder_view' folder.id  %}"><i class="fa fa-angle-left"></i> Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    function DisplayImage(input) {
        console.log(input.files)
        if (event.target.files[0]) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = $('#post-banner-mgt');
                output.attr('src', reader.result)
            };
            reader.readAsDataURL(input.files[0]);
        }

    };

    $(function() {
        $('.summernote').summernote({
            placeholder: 'Write your blog content/article here',
            tabsize: 2,
            height: "45vh",
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    })
</script>


<script>
document.getElementById('addMap').addEventListener('click', function() {
    const mapNameInput = document.getElementById('map_name');
    const thumbnailInput = document.getElementById('map_thumbnail');
    const mapAltInput = document.getElementById('map_alt');


    const mapName = mapNameInput.value;
    const thumbnailFile = thumbnailInput.files[0];
    const mapAlt = mapAltInput.value;

    // Create a URL for the uploaded image
    const thumbnailUrl = URL.createObjectURL(thumbnailFile);

    // Create a new div to display the added map
    const mapDiv = document.createElement('div');
    mapDiv.className = 'map-item mb-3';
    mapDiv.innerHTML = `
        <img src="${thumbnailUrl}" alt="${mapName}" class="img-thumbnail" style="width: 100px; height: auto;">
        <p class="fw-bold">${mapName}</p>
        <button onclick="removeMap(this)">X</button>
    `;

    // Append the new map item to the container
    document.getElementById('mapsContainer').appendChild(mapDiv);

    // Add hidden inputs for the map data to the form
    const hiddenInputsContainer = document.getElementById('hiddenInputs');
    const mapIndex = hiddenInputsContainer.children.length / 3;  // Calculate the current map index

    const mapNameInputField = document.createElement('input');
    mapNameInputField.type = 'hidden';
    mapNameInputField.name = `map_name_${mapIndex}`;
    mapNameInputField.value = mapName;

    const thumbnailInputField = document.createElement('input');
    thumbnailInputField.type = 'hidden';
    thumbnailInputField.name = `map_thumbnail_${mapIndex}`;
    thumbnailInputField.value = thumbnailFile.name;  // You may need to handle file uploads differently.

    const mapAltInputField = document.createElement('input');
    mapAltInputField.type = 'hidden';
    mapAltInputField.name = `map_alt_${mapIndex}`;
    mapAltInputField.value = mapAlt;  // You may need to handle file uploads differently.

    hiddenInputsContainer.appendChild(mapNameInputField);
    hiddenInputsContainer.appendChild(thumbnailInputField);
    hiddenInputsContainer.appendChild(mapAltInputField);


    // Clear the input fields
    mapNameInput.value = '';  // Clear the map name input
    thumbnailInput.value = ''; // Clear the thumbnail input
});

// Function to remove a map item
function removeMap(button) {
    const mapItem = button.parentElement; // Get the parent map item
    mapItem.remove(); // Remove the map item from the container
}

</script>


{% endblock ScriptBlock %}